test/test3.dtd

<!-- a bit more complex dtd -->

<!ELEMENT complex (data   )  >

<!ELEMENT data (row, column, value) >

<!ELEMENT column (xpos | ypos | zpos | axis-position) >

<!ELEMENT row (td | pr) >

<!ELEMENT td (#PCDATA) >

<!ELEMENT pr (#PCDATA) >

<!ELEMENT value (#PCDATA) >

<!ELEMENT xpos (#PCDATA) >

<!ELEMENT ypos (#PCDATA) >

<!ELEMENT zpos (#PCDATA) >

<!ELEMENT axis-position (#PCDATA) >

<!ELEMENT empty EMPTY>


